@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
}

img{
    width: 100%;
}

.header-img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.614);
    padding: 0;
}

.header-img h1{
    font-family: "Archivo Black", sans-serif;
    font-weight: initial;
    font-style: italic;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: rgb(77, 77, 77);
    color: white;
}

.stadium-section-left h2{
    font-family: "Archivo Black", sans-serif;
    
}

main{
    margin-top: 50px;
}

.list-icon{
    width: 16px;
    height: 16px;
}

.stadium-section-left{
    display: flex;
    background-color: rgba(176, 176, 176, 0.144);
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.274);
}

.stadium-section-left ul{
    list-style: none;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 50px;
}

.stadium-section-left li{
    font-family: sans-serif;
    font-size: 18px;
}

.img-stadium{
    width: 40%;
    height: auto;
    margin: 10px;
    border-radius: 30px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.272);
}

.stadium-section-left p{
    font-family: "Inter", sans-serif;
    margin: 10px;
    font-size: 20px;
}

.stadium-section-left button{
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(77, 77, 77);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.295);
    margin: 20px;
}

.stadium-section-left button a{
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    font-style: italic;
}

.stadium-section-left button:hover{
    transform: scale(1.1);
}

/*tablet*/
@media (max-width: 650px){

    .stadium-section-left{
        height: 325px;
    }

    .stadium-section-left h2{
        font-size: 26px;
    }

    .stadium-section-left p{
        font-size: 16px;
        margin: 0;
        margin-top: 5px;
        text-align: start;
        margin-left: 36px;
    }

    .stadium-section-left li{
        font-size: 13px;
        text-align: start; 
        margin: 0;
    }

    .stadium-section-left button{
        margin: 0;
    }
}

/*CELULAR*/
@media (max-width: 650px){

    .header-img h1 {
        font-size: 18px;
    }

    .stadium-section-left {
        height: auto; 
        padding: 10px;
        flex-direction: column; 
        align-items: center; 
    }

    .stadium-section-left img{
        width: 80%;
        height: auto;
    }

    .stadium-section-left h2 {
        font-size: 16px;
        margin: 5px 0;
    }

    .stadium-section-left p {
        font-size: 13px;
        margin: 5px 10px;
        text-align: center;
    }

    .stadium-section-left ul {
        margin: 5px 0;
        padding: 0;
    }

    .stadium-section-left li {
        font-size: 11px;
        margin-left: 20px;
    }

    .stadium-section-left button {
        margin: 10px 0;
        padding: 8px 12px;
    }
}
